* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 290px);
    margin-top: 1rem;
    justify-content: center;
  }

  .imagess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .imagess img {
    display: block;
    width: 90%;
    height: 50%;
  }

  .mb-2 {
    text-align: right;
    border-radius: 10px;
    padding: 10px;
    height: 55vh;
    color: aliceblue;
    font-size: 1.5rem;

    /* margin-top: 8rem; */
    background-color: rgb(105, 1, 105);
  }

  .mb-2:nth-child(4n + 1),
  .mb-2:nth-child(4n + 4) {
    background-color: rgb(122, 62, 122);
    opacity: 1;
  }

  .body {
    background-image: url("https://www.efsa.europa.eu/sites/default/files/styles/lg_col_12_16x9_fallback/public/news/coronavirus.jpg.jpeg?itok=gp1EWvJD");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    height: 45vh;
    opacity: 0.7;
    color: #fff;
    border: 1px solid black;
  }

  h2 {
    color: chocolate;
    margin-bottom: -0.2rem;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }

  .card-t {
    background-color: rgb(35, 35, 32);
    margin: -1rem -15px 0 -15px;
    padding: 10px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  body {
    background-color: brown;
  }

  .imagess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .imagess img {
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 30%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    margin-top: 2rem;
    justify-content: center;
    border: 1px solid black;
    padding: 30px;
  }

  .mb-2 {
    text-align: right;
    border-radius: 10px;
    padding: 10px;
    height: 55vh;
    color: aliceblue;
    font-size: 1.5rem;

    /* margin-top: 8rem; */
    background-color: rgb(105, 1, 105);
  }

  .mb-2:nth-child(6n + 1),
  .mb-2:nth-child(6n + 4) {
    background-color: rgb(122, 62, 122);
    opacity: 1;
  }

  .body {
    background-image: url("https://www.efsa.europa.eu/sites/default/files/styles/lg_col_12_16x9_fallback/public/news/coronavirus.jpg.jpeg?itok=gp1EWvJD");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    height: 45vh;
    opacity: 0.7;
    color: #fff;
    border: 1px solid black;
  }

  h2 {
    color: chocolate;
    margin-bottom: -0.2rem;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }

  .card-t {
    background-color: rgb(35, 35, 32);
    margin: -1rem -15px 0 -15px;
    padding: 10px;
    font-size: 15px;
  }
}
